{{>hiyoweb/header}}

    <div class="loginForm">
        <h3>로그인 페이지</h3>
        <!--    <form action="/hiyoweb/signup" method="post">-->
        <div class="idInputBox">
            <div>ID : </div>
            <div><input name="id" type="text" id="id"/></div>
        </div>
        
        <div class="pwInputBox">
            <div>PW : </div><input name="pw" type="text" id="pw"/>
        </div>
        
        <div class="loginBox">
            <input id="loginBtn"type="button" onclick="login()" value="로그인" />
        </div>

        <div class="signupbox">
            <a href="/hiyoweb/signup"><button id="signupBtn">회원가입</button></a>
        </div>
        <!--    </form>-->
    </div>


    <script  src="/js/member.js"></script>

{{>hiyoweb/footer}}
