{{>hiyoweb/header}}

    <h3>로그인 페이지</h3>
    <div>
        <!--    <form action="/hiyoweb/signup" method="post">-->
        ID : <input name="id" type="text" id="id"/><br/>
        PW : <input name="pw" type="text" id="pw"/><br/>
        <input type="button" onclick="login()" value="로그인" />
        <a href="/hiyoweb/signup">회원가입</a>
        <!--    </form>-->
    </div>


    <script  src="/js/member.js"></script>

{{>hiyoweb/footer}}
