<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>승호 로그인페이지</title>
</head>
<body>

    <h3>로그인 페이지</h3>
    <div>
        <!--    <form action="/hiyoweb/signup" method="post">-->
        ID : <input name="id" type="text" id="id"/><br/>
        PW : <input name="pw" type="text" id="pw"/><br/>
        <input type="button" onclick="login()" value="로그인" />
        <a href="/hiyoweb/signup">회원가입</a>
        <!--    </form>-->
    </div>

    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script  src="/js/member.js"></script>

</body>
</html>