{{>hiyoweb/header}}
    <form class="signUpForm">
<!--    <form action="/hiyoweb/signup" method="post">-->

        <h3>회원가입 페이지</h3>
        <p> 회원가입을 통해 다양한 이벤트에 참여하세요.</p>

        <div> 아이디 </div>
            <input onkeyup="idCheck()" name="id" type="text" id="id"/>
        <div class="idcheckbox"> 유효성검사결과 </div><br/>

        <div> 비밀번호 </div>
            <input onkeyup="pwcheck()" name="pw" type="text" id="pw"/>
        <div> 비밀번호확인 </div>
            <input onkeyup="pwcheck()" name="pwconfirm" type="text" id="pwconfirm"/>
        <div class="pwcheckbox"> 유효성검사결과 </div><br/>

        <div> 이름 </div>
        <input onkeyup="namecheck()" name="name" type="text" id="name"/>
        <div class="namecheckbox"> 유효성검사결과 </div>

        <div> e-mail </div>
        <div class="emailbox">
            <input onkeyup="emailcheck()" name="email" type="text" id="email"/>
            <button type="button" class="authreqbtn" onclick= "authreq()" disabled >인증요청</button>
        </div>
        <div class="authbox">
            <!-- 인증번호 입력창 출력 부분 -->
        </div>
        <div class="emailcheckbox"> 유효성검사결과 </div>

        <div> 전화번호 </div>
        <input onkeyup="phonecheck()" name="phone" type="text" id="phone"/>
        <div class="phonecheckbox"> 유효성검사결과 </div>

        <div> 프로필사진 </div>
        <!-- onChangeImg = 이미지 변경될때마다 ( this = 현재 input ) -->
        <input onchange="onChangeImg(this)" name="img" type="file" id="img"/><br/>

        <div class="preimgbox"><!-- 첨부파일 미리보기 추가할 위치 ID preimg 의 src 에 추가 -->
            <img id="preimg" src="/img/이젠고양이.png"/>
        </div>
        <br/>

        <button type="button" onclick="signup()" id="signupbtn">회원가입</button> <br/>
<!--    </form>-->
    </form>
    <a href="/hiyoweb/login">처음으로(로그인창 갈 예정)</a>

    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script  src="/js/member.js"></script>
<!-- {resource/static}-->

{{>hiyoweb/footer}}
