{{>hiyoweb/header}}

    <h3>회원가입 페이지</h3>
    <form class="signUpForm">
<!--    <form action="/hiyoweb/signup" method="post">-->
        ID : <input name="id" type="text" id="id"/><br/>
        PW : <input name="pw" type="text" id="pw"/><br/>
        이름 : <input name="name" type="text" id="name"/><br/>
        e-mail : <input name="email" type="text" id="email"/><br/>
        전화번호 : <input name="phone" type="text" id="phone"/><br/>
        프로필사진 : <input onchange="onChangeImg(this)" name="img" type="file" id="img"/><br/>

        <div><!-- 첨부파일 미리보기 -->
            <img id="preimg" src=""/>
        </div>
        <br/>

        <input type="button" onclick="signup()" value="회원가입"/> <br/>
<!--    </form>-->
    </form>
    <a href="/hiyoweb/login">처음으로(로그인창 갈 예정)</a>

    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script  src="/js/member.js"></script>
<!-- {resource/static}-->

{{>hiyoweb/footer}}
